{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>REGISTER</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

<div class="container w-75 mx-auto p-5 mt-5 text-center border border-3 shadow bg-light">
    <h2 class="mb-4">REGISTER</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mt-3">
            <input type="submit" value="Register" class="btn btn-primary px-4">
        </div>
    </form>
</div>
{% endblock %}